[submodule "DesertEagleSite/src/qiniupkg.com/api.v7"]
	path = DesertEagleSite/src/qiniupkg.com/api.v7
	url = https://github.com/qiniu/api.v7.git
[submodule "DesertEagleSite/src/qiniupkg.com/x"]
	path = DesertEagleSite/src/qiniupkg.com/x
	url = https://github.com/qiniu/x.git
[submodule "DesertEagleSite/src/github.com/PuerkitoBio/goquery"]
	path = DesertEagleSite/src/github.com/PuerkitoBio/goquery
	url = https://github.com/PuerkitoBio/goquery.git
[submodule "DesertEagleSite/src/golang.org/x/net"]
	path = DesertEagleSite/src/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "DesertEagleSite/src/github.com/andybalholm/cascadia"]
	path = DesertEagleSite/src/github.com/andybalholm/cascadia
	url = https://github.com/andybalholm/cascadia.git
[submodule "DesertEagleSite/src/DesertEagleSite"]
	path = DesertEagleSite/src/DesertEagleSite
	url = https://git.coding.net/musketeer/DesertEagleSite.git
