[submodule "DesertEagleSite/src/qiniupkg.com/api.v7"]
	path = DesertEagleSite/src/qiniupkg.com/api.v7
	url = https://github.com/qiniu/api.v7.git
[submodule "DesertEagleSite/src/qiniupkg.com/x"]
	path = DesertEagleSite/src/qiniupkg.com/x
	url = https://github.com/qiniu/x.git
[submodule "DesertEagleSite/src/golang/x/net"]
	path = DesertEagleSite/src/golang/x/net
	url = https://github.com/golang/net.git
[submodule "DesertEagleSite/src/PuerkitoBio/goquery"]
	path = DesertEagleSite/src/PuerkitoBio/goquery
	url = https://github.com/PuerkitoBio/goquery.git
